@import url('https://fonts.googleapis.com/css?family=Abel');


.main{
    font-family: 'Abel', sans-serif;
    background-color: #f7f7ff;
    width: 100%;
    min-height: 100%;
}

.content {
    margin-left: 380px;
    margin-right: 30px;
    padding: 10px;
}

.left-panel:after{
    content: "";
    position: absolute;
    background: url("../img/bg.svg");
    background-size: 70px;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.left-panel{
    position: fixed;
    overflow: auto;
    color: white;
    background-color: #9d8189;
    border-right: 5px solid #533747;
    font-family: 'Abel', sans-serif;
    font-size: 0.8em;
    top: 0px;
    bottom: 0px;
    width: 350px;
    z-index: 1;
}
.panel-content{
    padding: 20px;
    z-index: 2;
}

.logo-label {
    border: solid 5px #f7f7ff;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;    
    z-index: 2;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.logo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.logo-label:hover {
    animation: mix 2s infinite ease-in-out alternate-reverse!important;
}

#name {
    font-size: 26px;
}
.content section h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ccc;
}

/* ABOUT section*/


/* PORTFOLIO section*/

#portfolio a img{
    padding: 20px;
    width: 60px;
    height: 60px;
}

#portfolio a {
    display: inline-block;
}

.social-icon {
    width: 25px;
    height: 25px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.social-media {
    margin: 10px;

}

.whatsapp-mob {
    display: none;
}

.skill {
    padding: 8px;
    border: solid 2px #00345c;
    border-radius: 2px;
    display: inline-block;
    margin: 20px
}

@media only screen and (max-width: 812px) {
    .logo-label {
        height: 90px;
        width: 90px;
    }
    .main {
        width: 100%;
        margin: 0;
    }

    .content {
        margin: 0;
    }
    .left-panel{
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        min-height: 100%;
    }
    .whatsapp-mob {
        display: block;
    }
    .whatsapp-web {
        display: none;
    }
    .face-text {
        width: 100%;
    }
    .face {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100px; 
    }
    
}
