@import 'reset';
//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background: #F0F2F5;
}

*{
    box-sizing: border-box;
}

.profile-section {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 148, 148);
    background-image: url(../img/lines.svg);
    background-size: auto 20px;
    color: #fff;
}
.profile-section h2{
    margin-bottom: 3px;
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    line-height: 180%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    font-size: 1em;
}

.about-section div {
    max-width: 600px;
}

.updated-at {
    text-align: right;
    font-size: 0.8em;
}

.profile-photo {
    width:  120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.expanded-social-icon{
    display: flex;
    align-items: center;

    svg {
        width: 30px;
        height: 30px;
        padding: 5px;    
    }
    img {
        width: 30px;
        height: 30px;
        padding: 5px;    
    }
}

.social-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 5px 0px;
}

.social-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
}

.whatsapp-mob {
    display: none;
}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    border: rgba(46, 148, 148, .3) solid 2px;
    transition: all .2s linear;
}

.portfolio-item:hover {
    background-color: #666666;
}

.portfolio-icon {
    width: 30px;
}

#projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 850px;
    max-width: 100%;
    margin: auto;
}

.projects-open {
    flex: 0 1 40%;
    text-align: center;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #f2f2f2;

    &:hover::after {
        opacity: .9;
        cursor: pointer;
        transition: all linear .2s;
    }
    &::after {
        content: "";
        position: absolute;
        opacity: .8;
        width: 100%;
        height: 100%;
        background: #222222;
    }
}

.project-title {
    position: absolute;
    bottom: 2px;
    margin: 5px;
    z-index: 90;
}

.project-img {
    width: 180px;
    height: 150px;
    object-fit: cover;
}

.portfolio-title {
    text-align: center;
}

footer {
    padding: 20px;
    margin-top: 100px;
    background: #222222;
    color: #f2f2f2;
    text-align: center;
}

@media(max-width: 768px){
    .expanded-social-icon span {
        font-size: 12px;
    }
    .profile-photo {
        width: 70px;
        height: 70px;
        padding: 0;
    }
    .whatsapp-mob {
        display: block;
    }
    .whatsapp-web {
        display: none;
    }
}


